#page-content-wrapper div{
  color:white;
  background-color: rgb(68, 84, 106);
}
#page-content-wrapper .btn-group  {
  color:black;
}


.form-group input, .form-group select{
color:black;
border-radius: 10px;
}


.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 3px;
}



.form-group {
    margin-bottom: 10px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #536E94 !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #5B9BD5;
}
input,  select{
color:black;
}
a {
  color:white;
}


.popover  {
  max-width: 800px;
}



#sidebar-wrapper {
  background-color: #44546A;
  color : white;
}
