#page-content-wrapper div{
  color:white;
  background-color: rgb(68, 84, 106);
}
#page-content-wrapper .btn-group  {
  color:black;
}




.title
{
    display: block;
    color: white;
    margin-bottom: 5px;
    clear:both;
}

.title .name { float:left }
.title .value { float:right }

.form-group input, .form-group select{
color:black;
border-radius: 10px;
}


.warning  {
  color:yellow;
  font-weight: bold;
}
.warning:hover, .warning:focus {
  color:orange;
}

#splitData  {
  padding : 0px;
  overflow:auto;
}

.bs-example {
  overflow:auto;
  position: relative;
  padding: 35px 15px 15px ;
  border-color: #e5e5e5 #eee #eee;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}
/* Echo out a label for the example */
.bs-example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: lightblue;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bs-example-padded-bottom {
  padding-bottom: 24px;
}

/* Tweak display of the code snippets when following an example */
.bs-example + .highlight,
.bs-example + .zero-clipboard + .highlight {
  margin: -15px -15px 15px;
  border-width: 0 0 1px;
  border-radius: 0;
}

.splitInfo:after  {
  content: attr(data-content) ;
}


.code, .pricingList{
  text-align: left;
}

.qteGPM, .qteUser, .totalGPM, .totalUser, .priceUnit {
  text-align: right;
}
