#page-content-wrapper div{
  color:white;
  background-color: rgb(68, 84, 106);
}
#page-content-wrapper .btn-group  {
  color:black;
}

input, select{
color:black;
padding: 5px 5px;
}
select{
    border-width: 1px;
}
.form-group input, .form-group select, .form-group textarea{
color:black;
border-radius: 10px;
width:100%;
padding: 6px 12px;
}

#updatejob [class*="col-"] {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
#updatejob .customer [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#updatejob .form-group {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

#updatejob label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight:normal;
}

.bs-example {
  position: relative;
  padding: 15px 15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}
/* Echo out a label for the example */
.bs-example:before {
  font-size: 12px;
  font-weight: bold;
  color: lightblue;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bs-example-padded-bottom {
  padding-bottom: 24px;
}

/* Tweak display of the code snippets when following an example */
.bs-example + .highlight,
.bs-example + .zero-clipboard + .highlight {
  margin: -15px -15px 15px;
  border-width: 0 0 1px;
  border-radius: 0;
}

.material:before  {
  content: "MATERIAL";
}
.accounting:before  {
  content: "ACCOUNTING";
}
.contact:before  {
  content: "CONTACT";
}
.comm:before  {
  content: "COMMENTS";
}
.customer:before  {
  content: "customer";
}
